.homeContainer {
  position: relative;
  height: 100vh;
  background-color: var(--color-one);
  background-image: url("../../assets/img/Wave.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  .home_nav {
    padding: 1rem;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;

    
  }


  .home_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
      white-space: nowrap;
      font-size: 4rem;
      color: var(--color-four);
      font-family: var(--font-three);
      font-weight: lighter;
      text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.788);
  
  
      .spanPad {
          font-size: 6rem;
          color: #ff95a7;
      }
  
      @media screen and (max-width: 768px) {
        font-size: 2rem;
        top: 10%;
        
  
        .spanPad {
          font-size: 3rem;
        }
          
      }
  
    }
  
    .homeImage {
      max-width: 70rem;
  
      @media screen and (max-width: 768px) {
        max-width: 40rem;
      }
    }
  }


 

}
