body {
  background-color: var(--color-one);
  background-image: url("../../assets/img/Wave.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    background-image: url("../../assets/img/mobilebg.svg");
    background-size: cover;
  }
}

.container {
  min-height: calc(100dvh - 10rem);
  max-width: 120rem;
  max-height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nick {
  padding-top: 3rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.1rem #000000;
  color: var(--color-four);
  font-family: var(--font-three);
  font-size: 3rem;
  font-weight: lighter;

  span {
    text-transform: uppercase;
    color: #ef6565;
  }
}
