body {
  background-color: var(--color-one);
  background-image: url("../../assets/img/Wave.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (max-width: 768px) {
    background-image: url("../../assets/img/mobilebg.svg");
    background-size: cover;
  }
}

.container {
  min-height: calc(100dvh - 10rem);
  max-width: 120rem;
  max-height: max-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nick {
  padding-top: 3rem;
  text-align: center;
  text-shadow: 0.1rem 0.1rem 0.1rem #000000;
  color: var(--color-four);
  font-family: var(--font-three);
  font-size: 3rem;
  font-weight: lighter;

  span {
    text-transform: uppercase;
    color: #ef6565;
  }
}

.nav_search {
  margin-top: 3rem;
  max-width: 60rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfdfd;
  border-radius: 5rem;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    font-family: var(--font-one);
  }

  .search_button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

.search_result {
  color: #3d3d3d;

  .clear_search {
    margin-top: 2rem;
    text-decoration: underline;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-four);
    font-family: var(--font-one);
    font-weight: bold;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 1.8s infinite ease-in-out;
}
.loader {
  color: #fff;
  font-size: 7px;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
