* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-one: #ede1d8;
  --color-two: #ff8a94;
  --color-three: #ffba53;
  --color-four: #6197dd;
  --color-five: #f4bf42;

  --font-one: "Space Grotesk", sans-serif;
  --font-two: "DM Sans", serif;
  --font-three: "Modak", serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-one);
  font-family: var(--font-one);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}